body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#tw-img{
    height: 100vh;
}
#heading{
  font-size: 90px;
  font-weight: 160px;
}
#sub_heading{
  font-size: 40px;

  font-weight: 300px;
}

@media screen and ( max-width:777px){
  .twitter-img{
    padding-top: 30px;
    order:2;
    width:100%
  }
  .twitter-form{
     order:1;
    
  }

}